@model IEnumerable<ProjetoCidade.Models.Cidade>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var cidade in Model)
        {
            <tr>
                <td>@cidade.codigoMunicipio</td>
                <td>@cidade.nomeMunicipio</td>
                <td>@cidade.ufMunicipio</td>
            </tr>
        }
    </table>
</body>
</html>