@model CidadeWeb.Models.Cidade

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="~/Content/create.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <div class="form-create">
        <form action="/cidade/create" method="post">
            <div class="form-group">
                <label>Codigo: </label>
                <input type="number" class="form-control" name="Codigo" placeholder="Insira o Código do Municipio" /><br />
            </div>

            <div class="form-group">
                <label>Nome do Municipio: </label>
                <input type="text" class="form-control" name="Nome" placeholder="Insira o nome do municipio" /><br />
            </div>

            <div>
                <label>Estado: </label>
                <select name="Uf" class="form-control">
                    <option selected value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>

            
            <div align="right">
                <button class="btn btn-success">Salvar</button>
            </div>
        </form>

        <div>
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>



</body>
</html>
